
#wrap{
    width: 1920px;
    height: auto;

}

body  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


    #Navegação{
      
   text-align: end;
background-color:#E27882 ; 
color: #FFFFFF;
word-spacing: 5px;
padding-inline: 20%;

}
a{
color: white;
text-decoration: none; 

}

img.Eu {
width: 3%;
height: auto;
border-radius:50%;
margin: auto;
}

h2{
    font-size: 50px;
}
h3{
  font-size: 30px;
}
p{
    font-size: 15px;
}

.Apresentação{
  justify-content: flex-end;
    background-color:#FFFFFF;
    color: #E27882;

}
.Apresentação a{
  text-decoration: none;
  text-align: center;

}
.Apresentação img {
  width: 30px;
  height: 30px;
  border-radius:50%;

}
.Formação{
  
    background-color: #ED9AA2;
    color:#FFFFFF;

 
} 

.Experiência{
    background-color:#F6C8CA ; 
    color:#FFFFFF
    
}

.Projetos{
  width: auto;
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
    background-color:#F9E3E6 ;
    color: #E27882;
}
.Projetos h2{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}
.Projetos .card {

 position: relative; 
 padding: 10px;
 width: 300px;
 margin: 20px;
 border: 1px ;
border-radius: 5px;
 overflow: hidden;
 text-align: center;
box-shadow: 5px 5px 50px
}
.Projetos .card .content{
  display: inline;
padding: 50px;
text-align: center;

}
.Projetos .card .content a{
  position: relative; 
  display: inline-block;
  padding: 10px 20px;
  background-color:#E27882 ;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  margin-top: 20px;
}
.contato{

display:grid;
align-items: flex-end;
    background-color: #E27882;
    color:#FFFFFF;
        margin: 0;
        padding-inline: 50px;

}
.contato a{
  text-decoration: none;
  
}
      .contato a img{    
        width: 30px;
        height: 30px;
        border-radius:50%;
      
      }
   

  
      .form {
      position: relative;
        width: 70%;
        max-width:50%;
        font-size: 15px;
     flex-direction: column;
      
       
      }
      
      .form label,
      .form input,
      .form textarea,
      .form button {
        display: block;
        width: 90%;
      }
      
      .form label {
        color: #fff;
        line-height: 1;
        margin-bottom: 0.5rem;
      }
      
      .form input,
      .form textarea {
        width: 300px;
        height: 30px;
        font: inherit;
        padding: 0.8rem;
        margin-bottom: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
      
       
      }
      
      .form textarea {
        min-height: 100px;
        resize: vertical;
      }
      
      
      .form button {
        
        position: center; 
        display: flex;
        padding: 10px 20px;
        background-color: deeppink;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        outline: none;
       border-color: deeppink;
       width: 60px;
       display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 110px;
      }
      



